{# Copyright (c) 2020 - 2022 Genome Research Ltd. -#}
You MUST act now to prevent any of these files from being deleted!

To do so, you can mark any of these files to be kept (i.e. preventing deletion)
and/or automatically archived to humgen iRODS, by using the command-line tool
'vault' on the farm. Please refer to the 'vault' documentation at
{{vault_documentation}} or ask HGI.

